/* ===================== */
/*Beans and Brews*/
/* ===================== */
/* Box Model Hack */
* {
  box-sizing: border-box;
}

:root {
  /* section gap controls the gap below each major section. Increase adds more space */
  --section-gap: 5rem;

  /* remove the gap between divs  */
  --slide-gap: -.25rem;

  /* p */
  --fs-2: 1rem;
  /* h1 */
  --fs-8: 2.027rem;
   /* h2 */
  --fs-7: 1.802rem;
  /* h3 */
  --fs-6: 1.602rem;
  /* h4 */
  --fs-5: 1.424rem;
  /* h5 */
  --fs-4: 1.266rem;
  /* h6 */
  --fs-3: 1rem;
  /* captioning */
  --fs-1: .9rem;
}

html{
  /* font-size: 18px; */
  
  
}
body {
  font-family: Helvetica, sans-serif;
  
}

.beans-header{

}

.beans-header img{
  width: 100%;
}

.container {
  width: 1000px;
  margin: 0 auto;
  padding: 0
}

.container img{
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.beans-header,
.beans-intro,
.beans-logo,
.graphics-wrapper {
  margin-bottom: var(--section-gap)
}

.beans-logo {
  margin-bottom: var(--section-gap ) 
}



.beans-logo img{
  margin: 0 auto;
  display: block;
  
}


.beans-intro p{
  line-height: 2;
  text-wrap: wrap;
}

