/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
  width: 25%;
}


/******************************************
/* BASE STYLES
/*******************************************/
:root {
  --icon-size: .5rem;
}

body {
  font-family: Helvetica, san-serif;
  margin: 10%;
}
main{
  margin-bottom: 12%;
}
section{
 margin-bottom: 5%; 
}
.heading-container{
  padding-bottom: .5rem;
}

div{
  margin-bottom: 2.5%;
}
h2 {
  font-size: 1.75rem;
  font-weight: 600
}
h3{

}
h4{

}
h5{

}
h6{

}
p{

}
span{
  color: rgb(240 183 181);
}
a {
  text-decoration: none;
}

.heading-container{
  position: relative;
  align-items: center;
}


/* icons */
/* .material-symbols-outlined {
  color: rgb(240 183 181);
  font-size: 24px;
  vertical-align: middle;
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 10;
} */


.section-icon{
  font-size: var(--icon-size);
  position:absolute;
  left: -2.5rem;
  top: 30%;
  transform: translateY(-50%);
  color: rgb(240 183 181);
   font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 10;
}


/******************************************
/* Section STYLES
/*******************************************/


/* Intro */
/* -------------- */
.intro-container{
  width: 100%;
}
.header-graphic{
  margin-bottom: 7%;
}

.intro-p{
  font-size: 1.75rem;
  line-height: 1.2;
}
.p-link{
   font-weight: 600; 
   color: rgb(240 183 181)
}

/* Intro - sub */
/* -------------- */
.client-contact-wrapper{
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}



/* Black Client logos */
/* -------------- */
.logos-container{
  width: 50%;
  padding-right: 15%;
}
.logo-list{
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  align-items: flex-start;
  align-content: flex-start;
  line-height: 2;
}
.corporate-client{
 
}




/* intro-contact */
/* -------------- */
.contact-container{
  width: 50%;
}
.contact-list{
  display: flex;
}


/* Projects */
/* -------------- */
.projects-wrapper{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  
}
.project-div{
  width: 48%;
}

.project-img{
  height: 300px;
  outline: 2px dotted gray;
  border-radius: 1%;
}

.project-img a{
  padding: 2.5%;
  
}
.project-text{
display: flex;
justify-content: space-between;
padding: 1.5% 0;
font-weight: 600;
font-size: .9rem;
}