/* Box Model Hack */
* {
  box-sizing: border-box;
}

:root {
  --icon-size: 0rem;
  --icon-gap: 0;
  /* --icon-vertical-offset: 2%; */
  --section-gap: 3rem;
  --icon-gutter: 2.5rem;

  /* adjusting to get the icon and the right most elements to work in sync */
}

body {
  font-family: Helvetica, sans-serif;
  margin: 10%;
}

main {
  margin-bottom: 12%;
}

section {
  margin-bottom: var(--section-gap)
}

img {
  display: block;
  margin: 0 auto;
  width: 25%;
}

a {
  text-decoration: none;
}

span {
  color: rgb(240, 183, 181);
}

h2 {
  font-size: 2rem;
  font-weight: 600;
}

/* Material icons base */
.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  font-style: normal;
  font-weight: normal;
  font-size: var(--icon-size);
  line-height: 1;
  display: inline-block;
  position: relative;
  margin-left: calc(-1 * var(--icon-gutter))
}

/* David logo header */
.header-graphic{
  margin-bottom:var(--section-gap);
}
/* Intro Paragraph with icon */
.intro-p-icon-container {
  display: grid;
  grid-template-columns: var(--icon-size) 1fr;
  column-gap: var(--icon-gap);
  margin-bottom: var(--section-gap);
}
.material-symbols-outlined.section-icon.subject{
  /* resolves the icon sitting too high */
  padding-top: .25rem;
   
}

.intro-p {
  font-size: 1.75rem;
  line-height: 1.35;
  margin: 0;
}
.p-link {
  font-weight: 600;
  color: rgb(240, 183, 181);
}

/* Client logos and contact */
.clients-wrapper {
  display: flex;
  gap: 2%;
  width: 100%;
}
.logos-container {
    display: grid;
    grid-template-columns: var(--icon-size) 1fr;
    column-gap: var(--icon-gap);
    margin-bottom: var(--section-gap);
    width: 50%;
    padding-right: 10%;
    
}
.logo-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  line-height: 1.5;
  
}
.corporate-client.logo{
  padding: 0 1rem 1rem 0rem;
}
.logo a{
  color:black;
  font-weight: 600
}
.contact-container {
  width: 50%;
  display: grid;
  grid-template-columns: var(--icon-size) 1fr;
  column-gap: var(--icon-gap);
  margin-bottom: var(--section-gap);
  padding-left: calc(1 * var(--icon-gutter))
}
.material-symbols-outlined.section-logo.star{
  margin-left: 0;
  margin-left: calc(-1 * var(--icon-gutter));
  
}
.contact-list {
  display: flex;
  line-height: 1.5;
  font-weight: 600;
}
.contact-list a{
  color: black;
}

/* Projects Section heading with icon */
.section-heading {
  display: grid;
  grid-template-columns: var(--icon-size) 1fr;
  gap: var(--icon-gap);
  margin-bottom: var(--section-gap);
}



/* Project grid */
.project-section-container{
  width: 100%;
}
.projects-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
}
.project-div {
  width: 48%;
}
.project-img {
  height: 300px;
  outline: 2px dotted gray;
  border-radius: 1%;
}
.project-name{
  font-weight: 400;
  color: gray
}
.project-img a {
  padding: 2.5%;
}
.project-text {
  display: flex;
  justify-content: space-between;
  padding: 3% 0 10% 0;
  font-weight: 600;
  font-size: 0.9rem;
}
.material-symbols-outlined.project-icon.arrow{
  margin: 0rem;
  color: black;
  font-size: 1rem;
  margin-top: -.3rem;
  padding-left: .25rem;
  
}
